apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: domains.oxifed.io
spec:
  group: oxifed.io
  versions:
    - name: v1alpha1
      served: true
      storage: true
      schema:
        openAPIV3Schema:
          type: object
          properties:
            spec:
              type: object
              properties:
                hostname:
                  type: string
                description:
                  type: string
                adminEmail:
                  type: string
              required:
                - hostname
            status:
              type: object
              properties:
                initialized:
                  type: boolean
                lastReconciled:
                  type: string
                  format: date-time
  scope: Namespaced
  names:
    plural: domains
    singular: domain
    kind: Domain
    shortNames:
      - dom
